
@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


    <h1>Admin Panel</h1>

        <ul>
            <li>@Html.ActionLink("Manage Roles", "Index", "Roles")</li>
        </ul>
