<form class="form-inline mx-auto" role="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search causes..." name="searchTerm" id="searchTerm">
        <div class="input-group-append">
            <button type="submit" class="btn btn-default input-group-append" id="searchNav"><i class="fas fa-search fa-lg"></i></button>
        </div>
    </div>
</form>

