@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using VoteWithYourWallet.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        var userID = User.Identity.GetUserId();
        var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
        var currentUser = manager.FindById(userID);
        var FirstName = currentUser.FirstName;

        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                @Html.ActionLink("Hello " + FirstName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="nav-link" })
            </li>
            <li class="nav-item"><a class="btn btn-danger" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <div class="btn-group navbar-btn">
        <button type="button" class="btn btn-success" id="signUpButtonMain" data-toggle="modal" data-target="#loginModal" data-whatever="signUp" aria-controls="signUp">Sign up</button>
        <button type="button" class="btn btn-success" id="signInButtonMain" data-toggle="modal" data-target="#loginModal" data-whatever="signIn" aria-controls="signIn">Log in</button>
    </div>
    @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}

