@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron col-md-6 mx-auto logo-bg">
        <img src="~/Content/Images/VoteToVeto.jpg" class="img-fluid" />
        <hr class="my-4">
        <p class="lead">This is some text about stuff</p>
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                @Html.ActionLink("Start a Cause", "Create", "Causes", new { area = "" }, new { @class = "btn btn-danger", @id="homeCreateButtonLink" })
            </div>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row text-center">
        <div class="col-md-6 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor consequat id porta nibh. Interdum velit laoreet id donec ultrices. </div>
    </div>
</div>
<hr class="col-6">